* {
  margin: 0;
  padding: 0;
  font font-family: "montserrat", sans-serif;

}

.testimonials{
  padding: 40px 0;
  background: url(assets/pic04.jpg);
  color: #f1f1f1;
  text-align: center;
  height: 880px

}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;

}

.border{
  width: 160px;
  height: 5px;
  background: #f1f1f1;
  margin: 26px auto; 

}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
 
}

.col:hover{
  background: #ff0057;

}

.testimonial{
  background: #fff;
  padding: 40px;
  
}
  

.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(40%);
}

.name{
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
  color: #ff0057;
}

.stars{
  color:cornflowerblue;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .col{
    flex: 100%;
    max-width: 100%;
    
}
}

ul {
  list-style-type: none;
  color: rgba(152,119,53);
  padding: 5px
}

li {
  display: inline;
}

p {
  color: black;
  padding-bottom: 5px;
}
